<h1>Cocktails#new</h1>
<%= cl_image_tag("photo-1551024709-8f23befc6f87_nzwheo"), width: 400, height: 300, crop: :fill) %>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>
